# Per capita income(US) Prediction 

**objective**

Build a regression model and predict the per capita income for canadian citizens in year 2020

**Dataset**

.Year

.Per capita income

# Importing the necessary libraries

In [11]:
import pandas as pd
from sklearn import linear_model 
import numpy as np
import matplotlib.pyplot as plt

# Loading the dataset

In [12]:
df=pd.read_excel('ML1.xlsx')

In [13]:
df.head(5)  # checking top 5 rows

   Unnamed: 0  Year  per capita income (US$)
0         NaN  1970              3399.299037
1         NaN  1971              3768.297935
2         NaN  1972              4251.175484
3         NaN  1973              4804.463248
4         NaN  1974              5576.514583

In [14]:
df= df.drop('Unnamed: 0',axis='columns')        # Dropping the Unnamed: 0 column

In [23]:
new_df = df.drop('per capita income (US$)',axis='columns') #Dropping the dependent variable to build the model
new_df

    Year
0   1970
1   1971
2   1972
3   1973
4   1974
5   1975
6   1976
7   1977
8   1978
9   1979
10  1980
11  1981
12  1982
13  1983
14  1984
15  1985
16  1986
17  1987
18  1988
19  1989
20  1990
21  1991
22  1992
23  1993
24  1994
25  1995
26  1996
27  1997
28  1998
29  1999
30  2000
31  2001
32  2002
33  2003
34  2004
35  2005
36  2006
37  2007
38  2008
39  2009
40  2010
41  2011
42  2012
43  2013
44  2014
45  2015
46  2016

In [19]:
income=df['per capita income (US$)']

In [20]:
income.head()

0    3399.299037
1    3768.297935
2    4251.175484
3    4804.463248
4    5576.514583
Name: per capita income (US$), dtype: float64

# Building the Machine Learning model

**Linear Regression model for single variable**

In [21]:
reg=linear_model.LinearRegression()
reg.fit(new_df,income)

LinearRegression()

**Predicting the per capita income for year 2020**

In [22]:
reg.predict([[2020]])

C:\Users\abrar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([41288.69409442])